body{
  margin: 0;
  font-family: Oswald, sans-serif;
}

.header{
  height: 1rem;
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  background: linear-gradient(to bottom, #50cc7f 76%, #ffd902 100%);
}

.logo{
  width: 3rem;
  margin-right: 1rem;
}

.title{
  color: white;
}